/* @font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2'),
      url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
} */

* {
    padding: 0;
    margin: 0;
}

.hero {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 10vh;
    width: 100vw;
    font-size: 2rem;
    color: white;
    padding-top: 1rem;
    padding-left: 3rem;
    padding: 1rem 0 1rem 3rem;
}

.heroImg {
    height: 4rem;
    border-radius: 10px;
}

.sidebarAndTodo {
    display: flex;
    gap: 2rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: large;
    background-color: lightcyan;
    height: 100vh;
    padding: 2rem;
    flex: 0 0 15%;
}

.projects {
    margin-top: 2rem;
    border-bottom: solid black 2px;
}

.todoSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.todoAndAddBtn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 20px;
}

.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 0 .5rem 2rem;
    border: 5px solid black;
    height: 3rem;
    width: 70vw;
    margin-right: 2rem;
    margin-top: 1rem;
    gap: 1rem;
    border-radius: 10px;
}

.priorityBtnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
    align-content: center;
    gap: 1rem;
}

.todoTextContent {
    flex-basis: 50%;
}

.todoPriority {
    margin-top: .5rem;
    margin-right: 4rem;
}

#addItemBtn, 
#addProjectBtn,
.projectNameBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 8rem;
    margin-bottom: .5rem;
}

#addProjectBtn {
    width: 10rem;
}

#addProjectBtn,
.projectNameBtn {
    background-color: lightcyan;
    border-color: lightgray;
    width: 10rem;
}

.itemTextInput {
    width: 30vw;
}

.listItemBtn, 
#projectSubmitBtn {
    height: 2rem;
    width: 4rem;
}

.priorityInput {
    margin-right: 2rem;
}

.priorityBtnContainer > p {
    display: flex;
    font-size: medium;
    margin-right: -.2rem;
    margin-bottom: .5rem;
}

/* New project modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    margin-top: 15%;
    margin-left: 25%;
    padding: 10px 10px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
}

.modal-content > label {
    font-size: x-large;
}

.modal-content > input {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 40vw;
}

#projectSubmitBtn {
    margin-bottom: 1rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

